// Begin Desktop Cart  
@include media-query($medium-up) {
  .cart-navigation {
  float: right;
  margin: 2.3rem 0 0 1.5rem;

  &:hover {
    .Slideout__cart-container {
        transform: translateX(-360px);
        transition: all .3s ease-in-out .2s;
    }

  }

  .cart-navigation svg {
    float: left;
  }
  .item-count {
      position: relative;
      top: -2.8rem;
      left: 1.35rem;
      color: #fff;
      font-size: 1.0rem;
      font-family: open sans;
      font-weight: 800;
      background: transparent;
      width: 1.6rem;
      height: 1.6rem;
      display: block;
      text-align: center;
      padding-top: .25rem;
      border-radius: 10rem;
  }

  .item-count-full {
    background: $colorPrimary;
  }

}
}

// Begin Mobile Cart 
@include media-query($small) {
  .cart-navigation {
    padding-top: 1.4rem;
    text-align: right;
    padding-right: 2rem;
    padding-left: 20px;


		.item-count {
      position: relative;
      top: -2.4rem;
      left: 1.35rem;
      color: #fff;
      font-size: 1.0rem;
      font-family: open sans;
      font-weight: 800;
      background: transparent;
      width: 1.6rem;
      height: 1.6rem;
      display: block;
      text-align: center;
      padding-top: .25rem;
      border-radius: 10rem;
    }
    
    .item-count-full {
    background: $colorPrimary;
  }
  }

   
  
  .icon-cart-mob {
    width: 28px;
    height: 26px;
  }
} 


.item-count-full {
    background: $colorPrimary;
  }

  .demo-ready-detect {
    position: relative; 
  }    