/*================ Dropdowns ================*/
.site-nav__dropdown {
  display: none;
  position: absolute;
  left: 0;
  margin: 0;
  z-index: $zindexNavDropdowns;

  .supports-no-touch .site-nav--has-dropdown:hover &,
  .site-nav--has-dropdown.nav-hover &,
  .nav-focus + & {
    display: block;
  }

  a {
    background-color: $colorNav;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($colorNav, 10%);
    }
  }
}


/*============================================================================
  #Drawers
==============================================================================*/
#CartContainer {
      grid-area: 2/1/2/-1;
      padding-top: 50px;
}

#CartDrawer {
    /* height: unset; */
    margin-top: 97px;
    bottom: unset;
    right: -300px;
    width: 300px;
}


.js-drawer-open {
  overflow: hidden;
}

.drawer1 {
  @include promote-layer();

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto  1fr;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  top: 0;
  bottom: 0;
  padding: 0 ($gutter / 2) ($gutter / 2);
  max-width: 95%;
  z-index: $zindexDrawer;
  color: $colorDrawerText;
  background-color: $colorDrawers;
  transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1) .5s;;
}


.drawer {
  @include promote-layer();

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto  1fr;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  top: 0;
  bottom: 0;
  padding: 0 ($gutter / 2) ($gutter / 2);
  max-width: 95%;
  z-index: $zindexDrawer;
  color: $colorDrawerText;
  background-color: $colorDrawers;
  transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1) .5s;;

  a {
    color: $colorDrawerText;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  

  }

  input,
  textarea {
    border-color: $colorDrawerBorder;
  }
}

.cart-navigation:hover {

  #cartDrawer {
  width: $drawerCartWidth;
  right: 1px;
  border-left: 1px solid $colorDrawerBorder;
  }

}

.drawer--left {
  width: $drawerNavWidth;
  left: -$drawerNavWidth;
  border-right: 1px solid $colorDrawerBorder;

  .js-drawer-open-left & {
    display: block;
    @include transform(translateX($drawerNavWidth));

    .lt-ie9 & {
      left: 0;
    }
  }
}

.drawer--right, .drawer--right.is-transitioning {
  width: $drawerCartWidth;
  //right: -$drawerCartWidth;
  @include transform(translateX(-300px));
  border-left: 1px solid $colorDrawerBorder;

  .js-drawer-open-right & {
    @include transform(translateX(-1px));
    transition: $drawerTransition;

    .lt-ie9 & {
      right: 0;
    }
  }
}

#PageContainer {
  overflow: hidden;
}

.is-moved-by-drawer {
  @include promote-layer();
  transition: $drawerTransition;

  .js-drawer-open-left & {
    @include transform(translateX($drawerNavWidth));
  }

  .js-drawer-open-right & {
   // @include transform(translateX($drawerCartWidth));
   // transition: .3s all ease-in-out 2s;
  }
}

.drawer__header {
  grid-area: 1/1/1/-1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
}

.drawer__title,
.drawer__close {

}

.drawer__title {
  width: 100%;
  grid-area: 1/1/1/-2;
}

.drawer__close {
grid-area: 1/-2/1/-1;
width: 35px;
justify-content: center;
padding: 5px;
}

.drawer__close button {
  //position: relative;
  //right: -20px;
  //height: 100%;
  //padding: 0 20px;
  //color: inherit;

  &:active,
  &:focus {
    background-color: darken($colorDrawers, 5%);
  }
}

/*============================================================================
  #Ajax Cart Styles (conditionally loaded)
==============================================================================*/


.ajaxcart__inner {
  margin-bottom: $gutter;
}

.ajaxcart__row {
  > .grid {
    margin-left: -$gutter / 2;

    > .grid__item {
      padding-left: $gutter / 2;
    }
  }
}

.ajaxcart__product {
  position: relative;
  max-height: 500px;

  &.is-removed {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 450ms cubic-bezier(0.57,.06,.05,.95);
    @include backface();
  }
}

.ajaxcart__row {
  padding-bottom: $gutter / 2;
  margin-bottom: $gutter / 2;
  border-bottom: 1px solid $colorDrawerBorder;
}

.ajaxcart__product-image {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.ajaxcart__product-name,
.ajaxcart__product-meta {
  display: block;
}

.ajaxcart__product-name + .ajaxcart__product-meta {
  padding-top: $gutter / 5;
}

/*================ Quantity Selectors ================*/
.js-qty {
  position: relative;
  margin-bottom: 1em;
  max-width: 100px;
  min-width: 75px;
  overflow: visible;

  input {
    display: block;
    background: none;
    text-align: center;
    width: 100%;
    padding: 5px 25px;
    margin: 0;
  }
}

.js-qty__adjust {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  border: 0 none;
  padding: 0 8px;
  background: none;
  text-align: center;
  overflow: hidden;
  @include user-select(none);

  &:hover,
  &:focus {
    color: $colorPrimary;
  }
}

.js-qty__adjust--plus {
  right: 0;
  border-left: 1px solid $color-border;
}

.js-qty__adjust--minus {
  left: 0;
  border-right: 1px solid $color-border;
}

/*================ Quantity Selectors in Ajax Cart ================*/
.ajaxcart__qty {
  @extend .js-qty;
  margin: 0;

  .is-loading & {
    opacity: 0.5;
    transition: none;
  }
}

.ajaxcart__qty-num {
  border-color: $colorDrawerBorder;
  color: $colorDrawerText;
}

.ajaxcart__qty-adjust {
  @extend .js-qty__adjust;
  color: $colorDrawerText;
}

.ajaxcart__qty--plus {
  @extend .js-qty__adjust--plus;
  border-color: $colorDrawerBorder;
}

.ajaxcart__qty--minus {
  @extend .js-qty__adjust--minus;
  border-color: $colorDrawerBorder;
}

.ajaxcart-item__price-strikethrough {
  float: right;
}

 // settings.ajax_cart_method
