.hero__slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 50rem;
    width: 100%;
}
@include media-query ($small) {
    .hero__slide {
        height: 80vw;
    }
    div#slideshow-button {
        font-size: 1.2rem;
    }
    .hero__text-content .mdc-typography--headline3 {
        font-size: 6vw;
        line-height: unset;
    }
}


.hero__image {
    grid-area: 1 / 1 / 7 / 7;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero__image-img {
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.hero__text-wrap {
    grid-area: 3 / 2 / 3 / 6;
    color: white;
    text-align: center;
}

.hero-button {
    grid-area: 4/ 3 / 4 / 5;
    margin: auto auto;
    color: rgba($black,.87);
    background: white;
}

.hero__title {
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.hero__subtitle {
    display: none;
}




/*
.hero__text-wrap {
    display: inline-block;
    grid-area: 3 / 3 / 3 / 5;
    z-index: -1;
    align-self: center;
    justify-self: center;
    color: #fff;
    text-align: center;
}
.is-light {

    color: #fff;

}

.hero__title {
    margin-bottom: 2rem;
}

.hero__subtitle {
    display: none;
}

*/

