@include media-query($small) {
    html #MainContent {
        padding-top: 7.8rem;
        padding-bottom: 2.4rem;
        top: 0rem;
        max-width: 140rem;
        margin: auto;
    }
}

@include media-query($medium-up) {
    html #MainContent {
        padding-top: 9.6rem;
        padding-bottom: 2.4rem;
        top: 0rem;
        max-width: 140rem;
        margin: auto;
    }
}

.shopify__sections--not-first {
    margin: 40px 0px 0px;
    padding: 0 5%;
}


// ============== featured collections ============== //

.featured-collection__title {
    margin: 16px 0 0 0;
    text-align: center;
    color: #212121;
}

.featured-collection__product-list {
    display: flex;
    max-width: 128rem;
    margin: 16px auto 0px;
    justify-content: center;
}

@include media-query ($small) {
   .featured-collection__product-list {
     flex-wrap: wrap;
   }
}

.featured-collection__product {
    text-align: center;
    margin: 16px 16px 0px;
}

.product-title {
    color: #424242;
    font-size: 1.2rem;
    margin: 8px 0px 0px;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1.2em;
    font-weight: 500;
    font-family: cabin;
}

p.featured-collection__product--price {
    font-size: 1.1rem;
    font-weight: 500;
    color: #9e9e9e;
    font-family: Cabin;
    /* letter-spacing: .2rem; */
    font-weight: 300;
    margin: 8px 0px 0px 0px;
}