// =============== GLOBAL STYLES FOR MAIN SECTION =============== //
div#shopify-section-product {
    padding: 3.2rem 4rem 4rem;
    max-width: 108rem;
    margin: auto;
}
// ================  GLOBAL STYLES ( MEDIUM-UP ) ================//
@include media-query(medium-up) {
    div[data-section-type="product"] {
        display: flex;
        justify-content: space-between;
    }
    span[data-product-price] {
        color: $surfaceColor600;
        font-weight: 600;
        font-size: 2rem;
        letter-spacing: .125rem;
    }
    .product-desc {
        padding: 0 0 0 4rem;
    }
    #shopify-section-product nav.breadcrumb {
        padding: 0 3rem .8rem;
    }
    #shopify-section-product nav.breadcrumb > a,
    #shopify-section-product nav.breadcrumb > span { 
        @include mdc-typography(overline);
        color: $surfaceColor600;
    }
    form[action="/cart/add"] {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    div[data-price-wrapper] {
        margin: 0 0 .8rem;
        order: -2;
    }
    button#show-snackbar {
        order: -1;
        margin: 2.4rem 0;
    }
   
}

.shipping_returns_productpage {
    order: -2;

    p.shipping_returns_cta.slideout {
        padding: 1.8rem 0 0;
        font-size: 1.1rem;
        font-weight: 600;
        opacity: .7;
        text-align: center;
        margin: 0 10px 0 0;
        color: darken($colorSecondary, 10%);  
        &::before {
            content: "";
            background: none;
            height: 0px;
            width: 0px;
            display: inline-block;
            position: relative;
            left: 0px;
            top: 0px;
        }
        &::after {
            content: "";
            width: 0;
            height: 0;
            background: transparent;
            display: none;
            margin-top: 0;
            margin-left: 0;
        }
    }
}
// ================  PRODUCT IMAGE & SLIDER ================//


.productimage__container {
    //width: 1080px;
    margin: 0 auto;
} 
.productimage__carosel-container {
    width: 480px;
    position: relative;
    display: inline-block;
}

.button-slider-next {
    background: transparent;
    border: none;
}

.button-slider-previous {
    background: transparent;
    border: none;
}

.slick-dots {
    bottom: 10px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slick-dots li {
    padding: 0 10px;
}

.slick-dots li button {
    color: transparent;
    background: transparent;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    transition: all .2s ease-in-out;
    border: 1px solid rgba(0,0,0,.25);
}

.slick-dots .slick-active button {
    background: rgba(0,0,0,.25);
}

button#reset {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
}

button#zoom-in {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(0,0,0,.15);
    padding: 5px 10px;
    border: none;
}
button#zoom-out {
    display: none;
}

svg#search-reverse {
    fill: white;
}

// === PRODUCT IMAGE ZOOM CSS === //

// Class for body to prevent scrolling when zoomed 
.body__is-zoomed {
    min-height: 100vh;
    overflow: hidden;
    //position: fixed;
    margin-right: 0px;

    .overlay {
        overflow: hidden;
        overflow: scroll;
    }
}
// Main Overlay Class
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    background: rgba($white,.9);
}
// Activated on .overlay when product photo is clicked
.overlay-show {
    display: block;
    overflow: hidden;
    opacity: 1;
    width: 100vw;
    height: 100vh;
}


@media (min-width: 1024px) {
    img.productimage__main-image {
        max-width: 1024px;    
    }
    .productimage__container {
        width: 1024px;
        margin: calc( ( 100vh - 1024px ) / 2 ) auto;   
    }
}
@media (max-width: 1023px) and (min-width: 750px) {
    img.productimage__main-image {
        max-width: 750px;    
    }
    .productimage__container {
        width: 750px; 
        margin: calc( ( 100vh - 750px ) / 2 ) auto;  
    }
}

@media (max-width: 749px){
    img.productimage__main-image {
        max-width: 750px;   
    }
    .productimage__container {
        width: 750px;  
        margin: calc( ( 100vh - 750px ) / 2 ) auto;   
    }
}



// OVERLAY FOR MOBILE (PRODUCT PHOTO VIEW)


.product-photo-container {
    display: flex;
    align-items: center;
}

// MODIFY ITEM TITLE TEXT

.Item-Title > H1 {
    margin: 0rem 0 0.6rem;
    font-weight: 700; 
}

div[data-price-wrapper] {
    margin: 0 0 2.2rem;
}

//WAIT TO INITIALIZE SLIDER UNTIL JS HAS LOADED

.productimage__thumbnail--list {
    visibility: hidden;
}
.slick-initialized { 
    visibility: visible; 
}

// ================  GLOBAL STYLES  ================//

// STYLE MAIN BODY TEXT FOR PRODUCT
.rte > p {
    @include mdc-typography(body1);
    font-size: 1.4rem;
}


// DON'T SHOW SNACKBAR UNTIL IT HAS BEEN INITIALIZED
.loading .example .mdc-snackbar { 
    transform: translateY(200%); 
}
.mdc-snackbar {
    z-index: 1;
}

.slick-slide img {  
    &:after {
        content: "";
        border: 5px solid rgba(0, 0, 0, 0.03);
        border-top: 5px solid #757575;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: block;
        position: relative;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        animation: spin .9s cubic-bezier(0.64, 0.47, 0.33, 0.49) infinite;
    }
}



// ================  "'SMALL' STYLES FOR PRODUCT PAGE" ( MOBILE ONLY ) ================//

@include media-query($small) {
    p.shipping_returns_cta.slideout .icon-box-fast {
        fill: darken($colorSecondary, 10%);  ;
    }
    .productimage__container, 
    .productimage__carosel-container {
        width: 100%;
    }
    .button-slider-previous, 
    .button-slider-next {
        display: none;
    

    }                                      
    
    div#shopify-section-product {
    padding: 0px 0px;
    }
    
    .slick-slide img {
        padding: 0 0;
        width: 100vw;
        height: 100vw;
        
        &:after {
            content: "";
            border: 5px solid rgba(0, 0, 0, 0.03);
            border-top: 5px solid #757575;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: block;
            position: relative;
            top: calc(50% - 25px);
            left: calc(50% - 25px);
            animation: spin .9s cubic-bezier(0.64, 0.47, 0.33, 0.49) infinite;
        }
    }
    
    .product-desc {
    margin: -1px auto 0px;
    padding: 3.2rem 6.875% 3.2rem;
    
    }

    #shopify-product-reviews {
        display: block;
        clear: both;
        overflow: hidden;
        margin: 1em 0;
        padding: 0 6.875%;
    }

    div[data-price-wrapper] {
    margin: 1.6rem 0 2.4rem;
    color: $surfaceColor600;
    }

    button[name="add"] {
    width: 100%;
    }

// SNACKBAR SHIT
        .pl-snackbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: fixed;
        bottom: 48px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 24px;
        padding-left: 24px;
        -webkit-transition: -webkit-transform 0.25s 0ms cubic-bezier(0.4, 0, 1, 1);
        /* transition: -webkit-transform 0.25s 0ms cubic-bezier(0.4, 0, 1, 1); */
        transition: transform 0.25s 0ms cubic-bezier(0.4, 0, 1, 1);
        transition: transform 0.25s 0ms cubic-bezier(0.4, 0, 1, 1), -webkit-transform 0.25s 0ms cubic-bezier(0.4, 0, 1, 1);
        background-color: #212121;
        pointer-events: auto;
        will-change: transform;left: 0;
        width: 95%;
        margin: 0px 2.5% 2.5%;
        transform: translate(0, 250%);
        z-index: 1;
        opacity: .95;
        @include mdc-elevation(8);

        &:hover {
            transform: translate(0, 100%);
        }
    }
    .pl-snackbar-hvr {
        transform: translate(0, 100%);
    }

    .pl-snackbar__text {
        font-family: "Cabin", sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-size: 1.4rem;
        line-height: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.03125em;
        text-decoration: inherit;
        text-transform: inherit;
        margin-left: 0;
        margin-right: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 48px;
        -webkit-transition: opacity 0.3s 0ms cubic-bezier(0.4, 0, 1, 1);
        transition: opacity 0.3s 0ms cubic-bezier(0.4, 0, 1, 1);
        opacity: 1;
        color: white;
    }
    .pl-snackbar__action-button {
        font-family: "Cabin", sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-size: 1.4rem;
        line-height: 2.25rem;
        font-weight: 500;
        letter-spacing: 0.08929em;
        text-decoration: none;
        text-transform: uppercase;
        color: #d35400;
        color: var(--mdc-theme-secondary, #d35400);
        padding: 0;
        -webkit-transition: opacity 0.3s 0ms cubic-bezier(0.4, 0, 1, 1);
        transition: opacity 0.3s 0ms cubic-bezier(0.4, 0, 1, 1);
        border: none;
        outline: none;
        background-color: transparent;
        opacity: 1;
        user-select: none;
        visibility: visible;
    }
    .pl-snackbar__action-wrapper {
        padding-left: 24px;
        padding-right: 0;
    }
    div.spr-container {
        margin: -1px auto 0px;
        padding: 3.2rem 6.875% 3.2rem;
        border-color: transparent;
    }
}

.mdc-js-snackbar {
    @include mdc-elevation(20);
}


/// ============== reviews plugin ============= ///
input, textarea, select, button {
    @include mdc-typography(body2);
    font-size: 1.2rem;
}

.spr-form-title {
    @include mdc-typography(subtitle1);
    margin-bottom: .8rem;
}

label.spr-form-label {
    @include mdc-typography(body1);
    font-size: 1.4rem;
    
}

.spr-form-input-text, .spr-form-input-email, .spr-form-input-textarea {
    margin: 1rem 0 .4rem;
    outline: none;
    border-bottom: 1px solid #eee;
    margin-bottom: .8rem;
    padding-bottom: .4rem;
}

.spr-form-input {
    padding: .4rem 0 .4rem .8rem;
}

.spr-form-input-textarea {
    resize: vertical;
    border: 1px solid #eee;
    padding: .8rem;
}

.spr-form-review-body label.spr-form-label {
    display: none;
}

.spr-form-review-body .spr-form-input {
    margin-left: 0px;
    padding-left: 0px;

    textarea {
        padding: .8rem;
    }
}

.spr-form-input.spr-starrating {
    padding: 0px;
    margin-top: 4px;
}

div.spr-container {
    margin: 0px;
    padding: 3.2rem 0 3.2rem;
    border-color: transparent;
}

.spr-form-message-success {
    @include mdc-typography(body1);
    font-size: 1.4rem;
}

.button-slider-previous {
    background: transparent;
    border: none;
    position: absolute;
    z-index: 1;
    margin-left: -1.5rem;
} 

.spr-review-footer {
    display: none;
}

[class^="spr-icon-"]:before, [class*=" spr-icon-"]:before {
    color: #616160;
}