{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}
<div class="collections-page-wrapper">
{% include 'breadcrumbs' %}
{% section 'nothome-collection-list' %}
</div>